.additional-products__title {
  position: relative;
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $black;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 35px;
  padding-right: 22px;
  background-color: $white;
  max-width: max-content;

  &::after {
    position: absolute;
    content: "";
    width: 3000px;
    height: 2px;
    background-color: $green;
    top: 39px;
    z-index: -1;
  }
}

.additional-products__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.additional-products__item {
  padding-bottom: 17px;
  border-bottom: 1px solid $border-grey;

  &:first-child {
    border-top: 1px solid $border-grey;
  }
}

.additional-products__product-title {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: $darker-grey;
  margin: 0;
  padding-top: 13px;
  margin-bottom: 12px;
}

.additional-products__table-wrapper {
  margin-bottom: 16px;
}

.additional-products__description-table {
  border-collapse: collapse;
  width: 100%;
}

.additional-products__description-table-amount {
  padding: 0;
}

.additional-products__description-table-price {
  padding: 0;
  text-align: right;
}

.additional-products__button {
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .additional-products__title {
    border: none;
    font-size: 36px;
    line-height: 36px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 37px;
    padding-right: 36px;
    margin-bottom: 80px;

    &::after {
      top: 22px;
    }

    &::before {
      position: absolute;
      content: "";
      transform: translateX(-100%);
      height: 2px;
      background-color: $green;
      top: 22px;
      width: 3000px;
      z-index: -1;
    }
  }

  .additional-products__list {
    border-left: 1px solid $border-grey;
    border-right: 1px solid $border-grey;
    margin-bottom: 68px;
  }

  .additional-products__item {
    padding: 27px 38px;
    display: grid;
    grid-template-columns: 1fr max-content;
    row-gap: 5px;
    box-sizing: border-box;
  }

  .additional-products__product-title {
    font-size: 20px;
    line-height: 20px;
    padding: 0;
  }

  .additional-products__description-table {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-products__description-table-amount {
    padding-top: 3px;
  }

  .additional-products__description-table-price {
    min-width: 94px;
  }

  .additional-products__button {
    grid-column: 1 / -1;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__title {
    padding-left: 40px;
    margin-left: -40px;
    margin-bottom: 79px;
  }

  .additional-products__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
  }

  .additional-products__list {
    border: none;
    border-top: 1px solid $border-grey;
    flex-grow: 1;
    margin-right: 80px;
    margin-bottom: 0;
  }

  .additional-products__item {
    display: flex;
    align-items: center;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 16px;

    &:first-child {
      border-top: none;
    }

    .additional-products__product-title {
      margin-bottom: 0;
      margin-right: auto;
    }

    .additional-products__table-wrapper {
      margin-bottom: 0;
    }

    .additional-products__description-table-amount {
      min-width: 243px;
      padding-top: 7px;
    }

    .additional-products__description-table-price {
      min-width: 45px;
      padding-top: 7px;
      text-align: left;
    }

    .additional-products__button {
      min-width: 244px;
      margin-left: 38px;
    }
  }
}
