.additional-products__title {
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $black;
  margin-top: 28px;
  padding-bottom: 35px;
  border-bottom: 1px solid $border-grey;
}

.additional-products__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.additional-products__item {
  padding-bottom: 19px;
  border-bottom: 1px solid $border-grey;
}

.additional-products__product-title {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: $darker-grey;
  margin: 13px 0;
}

.additional-products__table-wrapper {
  margin-bottom: 12px;
}

@media (min-width: $tablet-width) {
  .additional-products__title {
    border: none;
  }

  .additional-products__list {
    border: 1px solid $border-grey;
  }

  .additional-products__item {
    padding: 26px 38px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
  }

  .additional-products__list {
    border: none;
    border-top: 1px solid $border-grey;
    flex-grow: 1;
    margin-right: 79px;
  }

  .additional-products__item {
    display: flex;
    justify-content: space-between;
  }
}
