.advantages {
  line-height: 18px;
}

.advantages__wrapper {
  padding-top: 27px;
  padding-bottom: 42px;
}

.advantages__title {
  font-family: $oswald-font;
  color: $black;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 38px;
}

.advantages__list {
  list-style: none;
  padding: 0;

  :not(:last-child) {
    margin-bottom: 20px;
  }
}

.advantages__item {
  position: relative;
  padding-left: 80px;
  min-height: 60px;

  ::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: $green;
    left: 0;
    top: -3px;
  }
}

.advantages__text {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages {
    border-bottom: 1px solid $border-grey;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 140px;
    row-gap: 37px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    border-bottom: none;
  }

  .advantages__list {
    display: flex;
  }
}
