.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: $green;
  font-family: $oswald-font;
  text-transform: uppercase;
  line-height: 18px;
}
