.cat-parametres {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid $border-grey;

  :not(:last-of-type) {
    margin-bottom: 14px;
  }
}

.cat-parametres__wrapper {
  margin: 0 auto;
  max-width: $mobile-width-container;
  padding: 0 20px;
}

.cat-parametres__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cat-parametres__label {
  width: max-content;
  margin-right: 13px;

  &--weight {
    margin-right: 16px;
  }

  &--age {
    margin-right: 15px;
  }
}

.cat-parametres__text-input {
  height: 41px;
  flex-grow: 1;
  border: 1px solid $input-grey;
  font-family: $oswald-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey;
  text-transform: uppercase;
  padding-left: 16px;
}

@media (min-width: $tablet-width) {
  .cat-parametres {
    border: none;
    padding-bottom: 0;
  }

  .cat-parametres__wrapper {
    padding-left: 70px;
    padding-right: 67px;
    max-width: $tablet-width-container - 80px;
    margin-bottom: 72px;
  }

  .cat-parametres__input {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  .cat-parametres__label {
    font-size: 20px;
    line-height: 30px;

    &--name {
      margin-right: 17px;
    }

    &--weight {
      margin-right: 21px;
    }

    &--age {
      margin-right: 18px;
    }
  }

  .cat-parametres__text-input {
    height: 48px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 18px;
  }
}

@media (min-width: $desktop-width) {
  .cat-parametres__wrapper {
    padding: 0;
    margin-right: 81px;
    min-width: 569px;
    margin-bottom: 0;
  }

  .cat-parametres__label--name {
    margin-right: 18px;
  }
}
