.cat-parametres {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  border-bottom: 1px solid $border-grey;

  :not(:last-of-type) {
    margin-bottom: 14px;
  }
}

.cat-parametres__wrapper {
  margin: 0 auto;
  max-width: $mobile-width-container;
  padding: 0 20px;
}

.cat-parametres__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cat-parametres__label {
  width: max-content;
  margin-right: 17px;
}

.cat-parametres__text-input {
  height: 45px;
  flex-grow: 1;
  border: 1px solid $input-grey;
  font-family: $oswald-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey;
  text-transform: uppercase;
  padding-left: 16px;
}

@media (min-width: $tablet-width) {
  .cat-parametres {
    border: none;
  }

  .cat-parametres__wrapper {
    margin: 0 auto;
    max-width: $tablet-width-container - 80px;
    padding: 0 70px;
  }
}

@media (min-width: $desktop-width) {
  .cat-parametres__wrapper {
    padding: 0;
    margin-right: 80px;
    width: 100vh;
  }
}
