.order-form {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.order-form__field {
  border: none;
  margin: 0;
  padding: 0;
}

.order-form__legend-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 35px;
  align-items: center;
}

.order-form__legend {
  margin: 0;
  text-transform: none;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  max-width: 202px;
  padding-right: 21px;
  background-color: $white;

  &::after {
    position: absolute;
    content: "";
    width: 3000px;
    height: 2px;
    background-color: $green;
    top: 16px;
    z-index: -1;
  }
}

.order-form__footer {
  margin-bottom: 32px;
}

.order-form__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 21px;
}

.order-form__note {
  margin: 0;
  text-align: center;
  text-transform: none;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $black;
}

@media (min-width: $tablet-width) {
  .order-form__legend-wrapper {
    margin-bottom: 76px;
  }

  .order-form__legend {
    font-size: 36px;
    line-height: 36px;
    max-width: none;
    padding-right: 41px;
    display: block;
    padding-left: 40px;
    margin-left: -40px;

    &::before {
      position: absolute;
      content: "";
      transform: translateX(-100%);
      height: 2px;
      background-color: $green;
      top: 22px;
      width: 3000px;
      z-index: -1;
    }

    &::after {
      top: 22px;
    }
  }

  .order-form__field {
    border: none;
    margin: 0;
    padding-left: 40px;
    padding-right: 35px;
  }

  .order-form__footer {
    padding: 0 42px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 72px;
  }

  .order-form__button {
    flex-basis: 45%;
    margin-right: 61px;
    font-size: 20px;
    height: 52px;
    margin-bottom: 0;
  }

  .order-form__note {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__field {
    padding: 0;
  }

  .order-form__footer {
    padding: 0;
    margin-bottom: 82px;
  }

  .order-form__button {
    flex-basis: auto;
    width: 569px;
    margin-right: 82px;
  }
}
