.page-footer {
  background-color: $basic-grey;
}

.page-footer__wrapper {
  padding-top: 39px;
  padding-bottom: 22px;
}

.page-footer__logo-wrapper {
  padding-bottom: 32px;
  border-bottom: 1px solid $border-grey;
}

.page-footer__logo {
  display: block;
  margin: 0 auto;
}

.page-footer__socials {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0 73px;
  align-items: center;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo-wrapper {
    border: none;
    padding: 0;
  }

  .page-footer__copyright {
    margin-top: 0;
  }
}
