.page-main {
  overflow-x: hidden;
}

.page-main__label {
  font-family: $oswald-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $black;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 37px;

  &--catalog {
    padding-bottom: 41px;
    border-bottom: 1px solid $lighter-grey;
  }
}

.page-main__text {
  font-family: $oswald-font;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  margin-top: 0;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .page-main__header {
    padding-left: 40px;
    padding-right: 200px;
  }

  .page-main__label--form {
    font-size: 60px;
    line-height: 60px;
    padding-top: 63px;
    margin-bottom: 55px;
  }

  .page-main__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__header {
    padding: 0;
  }

  .page-main__label--form {
    padding-top: 46px;
  }

  .page-main__text {
    max-width: 38%;
    margin-bottom: 67px;
  }
}
