.page-footer {
  background-color: $basic-grey;
}

.page-footer__wrapper {
  padding-top: 39px;
  padding-bottom: 22px;
}

.page-footer__logo-wrapper {
  padding-bottom: 31px;
  border-bottom: 1px solid $border-grey;
}

.page-footer__logo {
  display: block;
  margin: 0 auto;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__socials {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
  }

  .page-footer__logo-wrapper {
    border: none;
    padding: 0;
  }

  .page-footer__copyright {
    margin-top: 0;
  }

  .page-footer__socials {
    margin-left: 31px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding-top: 42px;
  }
}
