.page-main__label {
  font-family: $oswald-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $black;
  margin: 0;
  padding: 27px 20px 37px 20px;
}

.page-main__text {
  font-family: $oswald-font;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  margin-bottom: 39px;
  padding: 0 20px;
}
