.page-footer {
  background-color: $basic-grey;
}

.page-footer__wrapper {
  padding: 39px 20px 22px 20px;
}

.page-footer__logo-wrapper {
  padding-bottom: 32px;
  border-bottom: 1px solid $border-grey;
}

.page-footer__socials {
  padding: 20px 0;
  margin: 0;
}

.page-footer__copyright {
  margin-top: 22px;
}
