.products__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.products__item {
  border-bottom: 1px solid $lighter-grey;

  &:first-child {
    border-top: 1px solid $lighter-grey;
  }
}

.products__item-wrapper {
  margin: 0 auto;
  max-width: $mobile-width-container;
  padding: 14px 20px 24px 20px;
}

.products__item-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 112px;
  margin-bottom: 18px;
}

.products__parametres {
  min-width: 50%;
}

.products__link {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.products__title-link {
  color: $title-grey;
}

.products__title {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 13px;
  max-width: 76px;
}

.products__description-table {
  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
}

.products__description-table-description {
  padding: 0;
}

.products__description-table-value {
  padding: 0;
  text-align: right;
}

.products__button {
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .products__wrapper {
    margin: 0 auto;
    max-width: $tablet-width-container;
    padding: 0 30px;
    margin-bottom: 67px;
  }

  .products__item {
    border: none;

    &:first-child {
      border-top: none;
    }
  }

  .products__link {
    align-self: center;
  }

  .products__img {
    margin-bottom: 34px;

    &--500g {
      width: 161px;
      height: 172px;
      margin-top: 28px;
    }

    &--1000g {
      width: 168px;
      height: 200px;
    }
  }

  .products__item-wrapper {
    padding: 8px 37px 40px 37px;
    background-image: linear-gradient($white 16%, $basic-grey 16%);
    max-width: none;
  }

  .products__item-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  .products__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  .products__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 13px;
    max-width: 142px;
    text-align: center;
  }

  .products__parametres {
    min-width: 100%;
  }

  .products__description-table {
    font-size: 16px;
    margin-bottom: 17px;
  }

  .products__description-table-row {
    border-bottom: 1px solid $border-grey;
  }

  .products__description-table-description {
    padding-bottom: 8px;
    padding-top: 7px;
  }
}

@media (min-width: $desktop-width) {
  .products__wrapper {
    max-width: $desktop-width-container;
    padding: 0 110px;
    margin-bottom: 76px;
  }

  .products__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 62px;
  }

  .products__item-wrapper {
    padding: 0 38px 40px 39px;
    max-width: none;
  }

  .products__img {
    margin-bottom: 44px;
  }

  .products__title {
    line-height: 21px;
    margin-bottom: 18px;
  }
}
