.social {
  padding-top: 20px;
  padding-bottom: 18px;
  border-bottom: 1px solid $border-grey;
}

.social__item {
  &--vk {
    margin-right: 36px;
  }

  &--instagram {
    margin-right: 33px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    border-bottom: none;
    padding-top: 16px;
  }

  .social__item {
    &--vk {
      margin-right: 23px;
    }

    &--instagram {
      margin-right: 21px;
    }
  }

  .social__link--vk .social__svg {
    width: 31px;
    height: 22px;
  }

  .social__link--instagram .social__svg {
    width: 24px;
    height: 24px;
  }

  .social__link--facebook .social__svg {
    width: 33px;
    height: 30px;
  }
}
